@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::root{
    --secomdary: #F9532D;
    --bgcolor: #1F252E;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "outfit",sans-serif;
    list-style: none;
}

.container {
    padding: 0  6rem;
}
  
